$badges-width-breakpoint: 765px;

.container {
    display: flex;
    padding: 1rem;
    gap: 2rem;
    justify-content: center;

    @media (max-width: $badges-width-breakpoint) {
        flex-wrap: wrap;
    }

    .loading {
        min-height: 5rem;
    }

    .emailAndLevel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .badgesAndActions {
        display: flex;

        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;

            .actionSeeAll {
                margin: 1rem;
            }

            .accountActions {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                height: 100%;
                justify-content: space-between;
            }
        }
    }
}