@import "shared/styles/mixins.scss";

div.container {
    @include center-children-horizontally;

    .header {
        margin: 2rem;
    }

    .textInput {
        margin: 1rem 2rem;
        width: Max(50%, 15rem);
    }

    .buttonsContainer {
        @include children-space-between;
        width: 50%;
        margin: 2rem;
    }
}