.uploadDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hidden {
        display: none;
    }

    .selectedFiles {
        margin-right: 1rem;
    }
}