$spacing: 2rem;
$button-size: $spacing + 4rem;

button.addButton {
    position: fixed;
    right: $spacing;
    bottom: $spacing;
}

.expandContainer {
    position: fixed;
    right: $spacing;
    bottom: $button-size;
    display: flex;
    flex-direction: column;
    align-items: center;
}