@import "shared/styles/colors.scss";

.container {
    cursor: pointer;
    transition: all .3s;
    user-select: none;

    &.dragged {
        background-color: $primary-light-transparent;
    }

    &:hover .actionButton {
        display: inline-flex;
    }

    .actionButton {
        display: none;
    }

    .content {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}