.container {
    display: flex;
    cursor: pointer;
    margin: 1rem 0;

    .picture {
        width: 15rem;
        min-height: 10rem;
        object-fit: cover;
        object-position: center;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: .5rem 2rem;

        .statistics {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .labelWithData > p {
                display: inline;
                white-space: nowrap;
                margin: .2em;
            }
        }
    }
}